header {
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
}
header img {
  height: 50px;
}

header .header-right {
  display: flex;
  align-items: center;
  gap: 50px;
}
