.container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  margin-right: 20px;
  width: 300px; /* 카드의 폭을 조절할 수 있습니다. */
  margin-bottom: 20px;
}

.thumbnail {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 15px;
}

h2 {
  margin-top: 0;
}

p {
  margin: 0;
}
