.main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}
.main-container .flex-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.main-container .flex-box > h2 {
  font-size: 32px;
  font-weight: bold;
  color: #0d99ff;
}
.main-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-container form div {
  position: relative;
  margin-bottom: 30px;
}
.main-container form div label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 600;
}
.main-container form div input {
  display: block;
  width: 600px;
  height: 50px;
  border-radius: 10px;
  border: solid 2px #0d99ff;
  padding-left: 10px;
  line-height: 50px;
  font-size: 24px;
  box-sizing: border-box;
}
.main-container form div input::placeholder {
  font-size: 24px;
  color: #ccc;
}

.main-container form div button {
  position: absolute;
  width: 80px;
  height: 40px;
  border-radius: 10px;
  bottom: 5px;
  right: 5px;
  border: none;
}
.main-container form > button {
  width: 600px;
  height: 50px;
  border-radius: 10px;
  background-color: #0d99ff;
  color: #fff;
  border: none;
  font-size: 24px;
}
.main-container .login {
  width: 600px;
  height: 50px;
  border-radius: 10px;
  background-color: #0d99ff;
  color: #fff;
  border: none;
  font-size: 24px;
}
