<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tourlook</title>
    <link rel="stylesheet" href="reset.css" />
  </head>
  <body>
    <header>
      <div>
        {%if session['user_id']%}
          {{session['user_id']}} 님, 환영합니다.
          <a href="/logout">로그아웃</a>
        {%endif%}
      </div>
      
      <h1>
        <img src="/" alt="투어룩 로고" />
      </h1>
      <button>로그인</button>
      <a href="#">회원가입</a>
    </header>
    <main>
      
      
      <!-- 검색창 대신 radio 버튼으로 원하는 곳 구현 -->
      <form action="#">
        <label for="lang">Language</label>
        <select name="location" id="loc">
          <option value="">전체</option>
          <option value="">경기 / 서울</option>
          <option value="">1</option>
          <option value="">2</option>
          <option value="">3</option>
          <option value="">4</option>
          <option value="">5</option>
          <option value="">6</option>
        </select>
        <input type="submit" value="Submit" />
      </form>

      <!--  메인 리스트 리스트 ffor돌려서 받아오기 -->
      <ul>
        <li>
          <a href="#">
            <div class="card"></div>
          </a>
          <!-- detail페이지로 이동하는a태그 -->
        </li>
      </ul>
    </main>
  </body>
</html>
1
