<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>게시글 상세보기</title>
  <link rel="stylesheet" href="../static/reset.css" />
  <link rel="stylesheet" href="../static/detail.css" />
</head>


<body>
  <div class="main-container">
    {% include './header.html' %}

    <h2>게시글 상세보기 페이지</h2>
    <div class="detail-container">
      <img src="{{ data.img_url }}" alt="">
      <h3 class="detail-title">{{ data.post_title }}</h3>
      <input type="hidden" id="post_pk" value="{{ data.post_pk }}">
      <button type="button" id="like-btn">좋아요</button>
      <p class="detail-local">추천 지역: {{ data.post_local_cate }}</p>
      <p class="detail-main">{{ data.post_content }}</p>
    </div>
    <form action="/comment" method="POST" class="comment-form">
      <input type="hidden" name="post_pk" value="{{ data.post_pk }}" />
      <!-- display: flex -->
      <label for="comment">댓글 등록</label>
      <input id="comment" name="comment_content" class="comment-content" placeholder="댓글을 작성해주세요!" />
      <input type="submit" value="등록" class="comment-submit" />
    </form>

    <div class="comment-container">
      <!-- ffor돌리기 -->
      {% for comment in data.comments %}
      <div class="comment-card">
        <p class="comment-main">{{ comment.comment_content }}</p>
        <p class="comment-user">{{ comment.user_nickname }}</p>
      </div>
      {% endfor %}
    </div>
  </div>

  <script>

    let post_pk = document.getElementById('post_pk').value
    let like_btn = document.getElementById('like-btn')

    const postLikeCheck = (post_pk) => {
      
      console.log("좋아요")
      console.log(post_pk)
      fetch("/postlike", {
        method: "POST",
        body: JSON.stringify({ "post_pk": post_pk }),
        headers: {
          "Content-Type": "application/json"
        },
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.exists === 'no login') {
            window.location.href = '/login';
          } else if (data.exists === 'no') {
            alert('좋아요 저장')
          } else {
            alert('좋아요 취소')
          } 
        })
        .catch((error) => console.log(error));
    };

    like_btn.addEventListener("click", () => postLikeCheck(post_pk))
  </script>
</body>

</html>