<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시글 상세보기</title>
    <link rel="stylesheet" href="../static/reset.css" />
  </head>
  <body>
    <h1>게시글 상세보기 페이지</h1>
    <div class="detail-container">
      <h2 class="detail-title"></h2>
      <p class="detail-local">#서울/경기</p>
      <p class="detail-user">김선하</p>
      <p class="detail-main"></p>
    </div>
    <form action="#">
      <!-- display: flex -->
      <label for="comment">댓글:</label>
      <textarea
        id="comment"
        name="comment"
        rows="2"
        cols="50"
        placeholder="100자 이내로 작성해주세요!"></textarea>

      <input type="submit" value="제출" />
    </form>
    <div class="comment-container">
      <!-- ffor돌리기 -->
      <div class="comment-card">
        <p class="comment-user"></p>
        <p class="comment-main"></p>
      </div>
    </div>
  </body>
</html>
